body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

#checker {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    min-height: 20%;
    padding: 10px;
    background-color: azure;
    visibility: hidden;
}
