body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";

}

 #checker {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    min-height: 20%;
    z-index: 9;
    visibility: hidden;
}

#output {
    margin-bottom: 1em;
}
